/*** Overall document styling ***/

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*** Header ***/

h1 {
    font-size: 300%;
    font-family: Verdana;
    text-align: center;
    cursor: pointer;
}

/*** Navigation bar ***/

nav {
    height: 64px;
    background-color: #333;
    box-shadow: 0px 3px 5px #666;
    display: flex;
    justify-content: center;
    z-index: 10;
}

#navigation-wrapper {
    height: 64px;
}

.navigation-element {
    box-sizing: border-box;
    display: inline-flex;
    line-height: 64px;
    padding: 0px 30px;
    transition: padding .2s;

    /*Font*/
    font-family: Georgia;
    font-size: 120%;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
}

.navigation-element:hover {
    background-color: #222;
    border-bottom: 3px solid #ffcb31;
    padding: 0px 50px;
    cursor: pointer;
}

.navigation-element:active {
    background-color: black;
}

.navigation-active {
    color: #ffcb31;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/*** General content ***/

main {}

section {
    padding: 10px 10% 40px;
    text-align: center;
}

h2 {
    font-size: 200%;
    font-family: Verdana;
    text-align: center;
}

h3 {
    font-size: 150%;
    font-family: verdana;
    text-align: center;
}

p {
    font-size: 125%;
    font-family: Georgia;
    line-height: 1.25;
}

/*** Game Gallery ***/

#galleryContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

#gallery {
    position: relative;
    width: 800px;
    height: 450px;
    background-color: red;
}

#galleryFunction {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#galleryEmpty {
    width: 80%;
}

.galleryButton {
    color: white;
    font-family: verdana;
    font-size: 200%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    background-color: black;
    opacity: .3;
    transition: opacity .2s;
}

.galleryButton:hover {
    opacity: .6;
    cursor: pointer;
}

.galleryButton:active {
    opacity: 1;
}

#galleryContent {
    position: absolute;
    height: 100%;
    width: 100%;
}

.pageButton {
    font-size: 150%;
    font-family: verdana;
    text-align: center;
    padding: 10px 40px;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
    background-color: #EEE;
    text-decoration: none;
}

.pageButton:hover {
    cursor: pointer;
    background-color: #DDD;
}

.pageButton:active {
    background-color: #CCC;
}


/*** Footer ***/
footer {}